[submodule "website/public"]
	path = website/public
	url = https://github.com/nicktehrany/nicktehrany.github.io.git
	branch = master
[submodule "website/themes/hello-friend-ng"]
	path = website/themes/hello-friend-ng
	url = https://github.com/rhazdon/hugo-theme-hello-friend-ng.git
