{{ define "main" }}
    {{ $paginator := .Paginate .Data.Pages }}
    
    <main class="posts">
        <h1>{{ .Title }}</h1>

        {{ if .Content }}
            <div class="content">{{ .Content }}</div>
        {{ end }}

        <!-- Reorder notes with oldest first -->
        {{ if eq (replaceRE "\\w*\\d* " "$1" .Type) "Notes"}}
            {{ range $paginator.Pages.GroupByDate "2006" "asc"}}
                <div class="posts-group">
                    <div class="post-year">{{ .Key }}</div>

                    <ul class="posts-list">
                        {{ range .Pages }}
                            <li class="post-item">
                                <a href="{{.Permalink}}">
                                    <span class="post-title">{{.Title}}</span>
                                    <span class="post-day">
                                        {{ if .Site.Params.dateformShort }}
                                            {{ .Date.Format .Site.Params.dateformShort }}
                                        {{ else }}
                                            {{ .Date.Format "Jan 2"}}
                                        {{ end }}
                                    </span>
                                </a>
                            </li>
                        {{ end }}
                    </ul>
                </div>
            {{ end }}
        {{ else }}
            {{ if eq .Type "projects"}}
                {{ range $paginator.Pages.GroupByDate "2006"}}
                <div class="posts-group">

                    <ul class="posts-list">
                        {{ range .Pages }}
                            <li class="post-item">
                                <a href="{{.Permalink}}">
                                    <span class="post-title">{{.Title}}</span>
                                    {{ if eq .Title "Active Projects"}}
                                        <span class="post-count">
                                            {{ (len (where .Site.Pages ".Type" "active")) }}
                                        </span>
                                    {{ else }}
                                    <span class="post-count">
                                        {{ (len (where .Site.Pages ".Type" "completed")) }}
                                    </span>
                                    {{ end }}
                                </a>
                            </li>
                        {{ end }}
                    </ul>
                </div>
                {{ end }}
            {{ else }}
                {{ range $paginator.Pages.GroupByDate "2006"}}
                <div class="posts-group">
                    <div class="post-year">{{ .Key }}</div>

                    <ul class="posts-list">
                        {{ range .Pages }}
                            <li class="post-item">
                                <a href="{{.Permalink}}">
                                    <span class="post-title">{{.Title}}</span>
                                    <span class="post-day">
                                        {{ if .Site.Params.dateformShort }}
                                            {{ .Date.Format .Site.Params.dateformShort }}
                                        {{ else }}
                                            {{ .Date.Format "Jan 2"}}
                                        {{ end }}
                                    </span>
                                </a>
                            </li>
                        {{ end }}
                    </ul>
                </div>
                {{ end }}
            {{ end }}
        {{ end }}
    {{ partial "pagination.html" . }}
    </main>
{{ end }}
